$star-color: #009688;
$grey: #444;
$half-checked-star: "\f089";
$checked-star: "\f005";
$unchecked-star: "\f006";

.js-star-ratings {
  width: 165px;

  input { display: none; }

  label {
    padding: 5px;
    float: right;
    transition: all .2s;
    color: $grey;
    font-family: FontAwesome;
    font-size: 24px;
    font-weight: 300;
  }

  .js-half-checked-star {
    &::before {
      color: $star-color;
      content: $half-checked-star;
    }
  }

  .js-checked-star {
    &::before {
      transition: all .25s;
      color: $star-color;
      content: $checked-star;
    }
  }

  .js-unchecked-star {
    &::before {
      content: $unchecked-star;
    }
  }

  .js-star:hover { transform: scale(1.3); }
}
