@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";

$alert-light: rgba(255, 255, 255, .84);
$lightgrey: #f7f7f7;
$warning-orange: #ff5722;
$info-blue: #03a9f4;
$white: #fff;
$shadow-dark: rgba(0, 0, 0, .2);
$shadow-darkest: rgba(0, 0, 0, .19);

%alert-warning {
  background-color: $warning-orange;
  color: $alert-light;
}

%alert-info {
  background-color: $info-blue;
  color: $alert-light;
}

body {
  background: $lightgrey;
  font-size: 16px;
}

.card {
  background: $white;
  box-shadow: 0 8px 17px 0 $shadow-dark, 0 6px 20px 0 $shadow-darkest;
}

.component {
  margin-bottom: 15px;
  padding: 20px;
}

.company-registration-form {
  width: 80%;
  margin: 15px auto 0;
  padding: 15px;

  .btn {
    font-size: 14px;
  }
}

.alert-notice {
  @extend %alert-info;
}

.alert-alert {
  @extend %alert-warning;
}


