@import "bootstrap-sprockets";
@import "bootstrap";

$lightgrey: #f7f7f7;
$white: #fff;
$shadow-dark: rgba(0, 0, 0, .2);
$shadow-darkest: rgba(0, 0, 0, .19);

body {
  background: $lightgrey;
  font-size: 16px;
}

.card {
  background: $white;
  box-shadow: 0 8px 17px 0 $shadow-dark, 0 6px 20px 0 $shadow-darkest;
}

.component {
  margin-bottom: 15px;
  padding: 20px;
}

.company-registration-form {
  width: 80%;
  margin: 15px auto 0;
  padding: 15px;

  .btn {
    font-size: 14px;
  }
}


